{# ./molecule-libvirt-driver/templates/network-template.xml.j2 #}
{%- set subnet_mask = network.cidr | ansible.utils.ipaddr("netmask") -%}
{%- set ipv4_default_gw = network.cidr |  ansible.utils.ipaddr("1") | ansible.utils.ipaddr("address") -%}
{%- set dhcpv4_default_start = network.cidr | ansible.utils.ipaddr("10") | ansible.utils.ipaddr("address") -%}
{%- set dhcpv4_default_end = network.cidr | ansible.utils.ipaddr("-5") | ansible.utils.ipaddr("address") -%}
{%- set shortname = project_name | truncate(12, true, "") + network_index | string  %}
<network>
    <name>{{ network.name }}</name>
    {%- if network.type is undefined or network.type == 'nat' %}
    <forward mode='nat'/>
    {%- elif network.type == 'routed' %}
    <forward mode='route'{{ 'dev=' ~ network.route_interface if network.route.interface is defined else '' }}/>
    {%- endif %}
    <bridge name='{{ shortname }}' stp='on' delay='0'/>
    <ip address='{{ network.gateway | default(ipv4_default_gw) }}' netmask='{{ subnet_mask }}'>
      {%- if network.dhcp | default(false) %}
      <dhcp>
        <range start='{{ network.dhcp_range.start | default(dhcpv4_default_start ) }}' end='{{ network.dhcp_range.end | default(dhcpv4_default_end) }}'/>
      </dhcp>
      {%- endif %}
    </ip>
</network>